@model MainPageIndexModel


<style>

.card:hover{
    transform: scale(1.05);
	box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
	cursor: pointer;
}

</style>

<h1 class="display-3">Book Reservation System</h1>

<!-- The Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Modal Heading</h4>
			</div>

			 <!-- Modal body -->
			<form method="post">
				<div class="modal-body">
					
					<!--GENRE FILTER-->
					<label  class="control-label">Select Genre</label>
					<select name="Genre" class="form-control" asp-items="@ViewBag.genres"></select>
					
					<!--AUTHOR FILTER-->
					<label  class="control-label">Filter with author name</label>
					<input type="text" name="Author" class="form-control" />

					<label  class="control-label">Filter with book name</label>
					<input type="text" name="BookName" class="form-control" />


					<!--ON STOCK OPTION FILTER-->
					<input class="form-check-input" name="Stock" type="checkbox" value="0" id="filterCheckbox">
					<label class="form-check-label" for="filterCheckbox">
						Include books that are currently not in stock
					</label>

				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="submit" formaction="@Url.Action("Index", "MainPage", new { page = Model.Page })" class="btn btn-primary mb-2">Submit</button>
					<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
				</div>
			</form>

		</div>
	</div>
</div>

<!-- Show books -->
@{
	const int ITEMS_IN_ROW = 3;

	if (Model == null || Model.Books.Count() == 0)
	{
		<div class="justify-content-center align-items-center">
			<h1 class="display-4">There are no books on this page</h1>
		</div>
	}
	else
	{
		<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
		  Filter books
		</button>
		<div class="container">

			<div class="row">

				@for (int i = 0; i < Model.Books.Count(); ++i)
				{

					if (i > 0 && i % ITEMS_IN_ROW == 0)
					{
						@:</div><div class="row">
					}

					<div class="col-lg-4 col-md-6 my-2">

						<div class="card" style="width: 100%;">

							<div class="card-body">
								<h5 class="card-title">
									@Model.Books.ElementAt(i).Name
								</h5>

								<h6 class="card-subtitle mb-2 text-muted">
									@Model.Books.ElementAt(i).Author.Name
								</h6>
								
								<h6 class="card-subtitle mb-2 text-muted">
									@(Model.Books.ElementAt(i).Genre.Name)
								</h6>
								
								<p class="card-text">
									@Model.Books.ElementAt(i).Description
								</p>

								<a href="@Url.Action("Index", "BookDetail", new { bookId = Model.Books.ElementAt(i).Id })" class="stretched-link"></a>
							</div>
						</div>	
					</div>

				}

			</div>
		</div>

		<nav>
			<ul class="pagination justify-content-center">
			@if (Model.Page > 1)
			{
				// Go to Page - 1
				<li class="page-item">
					<a class="page-link" href="mainpage/@(Model.Page - 1)">Previous</a>
				</li>
			}
			@for (int i = Model.Page; i < Math.Min(Model.Page + 3, Model.Total); ++i)
			{
				if (Model.Page == i)
				{
					<li class="page-item active" aria-current="page"><a class="page-link" href="#" disabled>@i</a></li>
					continue;
				}
				<li class="page-item"><a class="page-link" href="mainpage/@i">@i</a></li>
			}
	
			@if (Model.Page < Model.Total)
			{
				// Go to Page + 1
				<li class="page-item">
					<a class="page-link" href="mainpage/@(Model.Page + 1)">Next</a>
				</li>
			}
			</ul>
		</nav>


	}
}