@model AdminPageBooksModel

<h1>Books</h1>
<hr />
@{
	if (Model.Books == null || Model.Books.Count() == 0)
	{
		<h4>No Books</h4>
	}
	else
	{
		foreach (var book in Model.Books)
		{
			<div class="row m-2">
				<a class="col col-sm-8 text-decoration-none" 
				href="@Url.Action("ChangeBookInfo", "AdminPage", new { id = book.Id })">
					<span class="row" style="font-size: 1.3rem">@book.Name</span>
					<span class="row text-muted">@book.Author.Name</span>
				</a>
				<span class="col col-sm-2 font-monospace" style="font-size: 1.3rem">@book.Stock ks</span>
				<div class="col col-sm-2">
					<a href="@Url.Action("DeleteBook", "AdminPage", new { bookId = book.Id })"
						class="btn btn-danger">Delete Book</a>
				</div>
			</div>
			<hr/>
		}
	}
}

<nav>
	<ul class="pagination justify-content-center">
		@if (Model.Page > 1)
		{
			<li class="page-item">
				<a class="page-link"
			   href="@($"/adminpage/Books/{Model.Page - 1}")">
					Previous
				</a>
			</li>
		}
		@for (int i = Math.Max(1, Model.Page - 3); i <= Math.Min(Model.Page + 3, Model.Total); ++i)
		{
			if (Model.Page == i)
			{
				<li class="page-item active" aria-current="page"><a class="page-link" href="#" disabled>@i</a></li>
				continue;
			}
			<li class="page-item">
				<a class="page-link"
			   href="@($"/adminpage/Books/{i}")">@i</a>
			</li>
		}
		@if (Model.Page < Model.Total)
		{
			<li class="page-item">
				<a class="page-link"
			   href="@($"/adminpage/Books/{Model.Page + 1}")">Next</a>
			</li>
		}
	</ul>
</nav>
