@model PaginationModel<BL.DTOs.ReservationDetailDto>
@{
    ViewData["Title"] = "User page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col s12">
        <div class="row valign-wrapper my-4">
            <span class="text-xxl-center display-6">Reservation history</span>
        </div>
        <div class="row justify-content-around">
            <a class="btn col col-sm-3 text-decoration-none m-1
                @(ViewData.Model.CurrentState == DAL.Enums.RentState.Reserved ? "disabled bg-secondary" : "bg-primary")"
               href="@($"/reservations/reserved/")">
                Reservations
            </a>
            <a class="btn col col-sm-3 text-decoration-none m-1
                @(ViewData.Model.CurrentState == DAL.Enums.RentState.Expired ? "disabled bg-secondary" : "bg-primary")"
               href="/reservations/expired/">
                Expired
            </a>
            <a class="btn col col-sm-3 text-decoration-none m-1
                @(ViewData.Model.CurrentState == DAL.Enums.RentState.Canceled ? "disabled bg-secondary" : "bg-primary")"
               href="/reservations/canceled/">
                Canceled
            </a>
         </div>
         <div class="row justify-content-around">
            <a class="btn col col-sm-3 text-decoration-none m-1
                @(ViewData.Model.CurrentState == DAL.Enums.RentState.Active ? "disabled bg-secondary" : "bg-primary")"
               href="/reservations/active/">
                Active
            </a>
            <a class="btn col col-sm-3 text-decoration-none m-1
                @(ViewData.Model.CurrentState == DAL.Enums.RentState.Returned ? "disabled bg-secondary" : "bg-primary")"
               href="/reservations/returned/">
                Returned
            </a>
            <a class="btn col col-sm-3 text-decoration-none m-1
                @(ViewData.Model.CurrentState == DAL.Enums.RentState.Overdue ? "disabled bg-secondary" : "bg-primary")"
               href="/reservations/overdue/">
                Overdue
            </a>
        </div>
        <hr />
        @foreach (BL.DTOs.ReservationDetailDto detail in Model.Items)
        {
            <div class="row m-3">
                <div class="col-sm">
                    <div class="row">
                        <a href="/book/@(detail.BookId)" style="font-size: 1.2rem">@(detail.Name)</a>
                    </div>
                    <div class="row">
                        <span class="h6 m-0">@(detail.Author)</span>
                    </div>
                    <div class="row font-monospace">
                        <span>@(detail.Genre)</span>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="row text-end">
                        <span class="h5 m-0">@(detail.TotalPrice) <span style="font-size: 1rem" class=" p-1">[@(detail.Price)/day]</span></span>
                    </div>
                    <div class="row text-end">
                        @if (detail.State == DAL.Enums.RentState.Reserved)
                        {
                            <span class="text-info">
                                Pick up before @(detail.ReservedAt.AddDays(7).ToShortDateString())
                            </span>
                        }
                        @if (detail.State == DAL.Enums.RentState.Canceled)
                        {
                            <span class="text-danger">Reservation canceled</span>
                        }
                        @if (detail.State == DAL.Enums.RentState.Active)
                        {
                            <span class="text-info">Return before @(detail.RentedAt.Value.AddDays(detail.LoanPeriod).ToShortDateString())</span>
                        }
                        @if (detail.State == DAL.Enums.RentState.Expired)
                        {
                            <span class="text-warning">Reservation expired at @(detail.ReservedAt.AddDays(8).ToShortDateString())</span>
                        }
                        @if (detail.State == DAL.Enums.RentState.Overdue)
                        {
                            <span class="text-danger">Late by @(DateTime.Now.Subtract(detail.RentedAt.Value.AddDays(detail.LoanPeriod)).Days) day(s)</span>
                        }
                        @if (detail.State == DAL.Enums.RentState.Returned)
                        {
                            int overdue = detail.ReturnedAt.Value.Subtract(detail.RentedAt.Value).Days - detail.LoanPeriod;
                            if (overdue > 0) {
                                <span class="text-danger">Returned late by @(overdue) day(s) at @(detail.ReturnedAt.Value.ToShortDateString())</span>
                            } else {
                                <span class="text-info">Returned at @(detail.ReturnedAt.Value.ToShortDateString())</span>
                            }
                            
                        }
                    </div>
                    <div class="row text-end">
                        <span class="text-muted">Rent for @(detail.LoanPeriod) day(s)</span>
                    </div>
                </div>
            </div>
            <hr />
        }
        <div class="row justify-content-around">
            <a class="btn col col-md-3 text-decoration-none m-2
                @(ViewData.Model.PageNumber < 2 ? "disabled bg-dark" : "bg-primary")"
                href="@($"/reservations/{Model.CurrentState.ToString()}/{Model.PageNumber - 1}")">
                Previous page
            </a>
            <a class="btn col col-md-3 text-decoration-none m-2 
                @(ViewData.Model.NextPageEmpty ? "disabled bg-dark" : "bg-primary")" 
                href="@($"/reservations/{Model.CurrentState.ToString()}/{Model.PageNumber + 1}")">
                Next page
            </a>
        </div>
    </div>
</div>