@model BL.DTOs.ChangePasswordDto
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col s12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <div class="row valign-wrapper my-4">
                <span class="text-xxl-left">Change password:</span>
            </div>
            <div class="row valign-wrapper m-2">
                <div class="col s12 l4">Old password:</div>
                <div class="input-field col s12 l8">
                    @Html.PasswordFor(model => model.OldPassword, new { placeholder = "Old password", required = true })
                </div>
            </div>
            <div class="row valign-wrapper m-2">
                <div class="col s12 l4">Password:</div>
                <div class="input-field col flex-grow-1">
                    @Html.PasswordFor(model => model.NewPassword, new { placeholder = "New password", required = true })
                </div>
            </div>
            <div class="row valign-wrapper m-2">
                <div class="col s12 l4">Repeat password:</div>
                <div class="input-field col flex-grow-1">
                    @Html.PasswordFor(model => model.ConfirmPassword, new { placeholder = "Repeat password", required = true })
                </div>
            </div>
            <div class="row justify-content-around m-4">
                <input type="submit" value="Change password" class="btn bg-primary col-6 col-sm-3" />
            </div>
        }
    </div>
</div>