@model BL.DTOs.ChangePasswordDto
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col s12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="row valign-wrapper my-4">
                <span class="text-center display-6">Change password</span>
            </div>
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <hr />
            <div class="row text-center valign-wrapper m-2">
                <div class="col s12 l4">Old password:</div>
                <div class="input-field col s12 l8">
                    @Html.PasswordFor(model => model.OldPassword, new { placeholder = "Old password", required = true })
                </div>
            </div>
            <div class="row text-center valign-wrapper m-2">
                <div class="col s12 l4">Password:</div>
                <div class="input-field col flex-grow-1">
                    @Html.PasswordFor(model => model.NewPassword, new { placeholder = "New password", required = true })
                </div>
            </div>
            <div class="row text-center valign-wrapper m-2">
                <div class="col s12 l4">Repeat password:</div>
                <div class="input-field col flex-grow-1">
                    @Html.PasswordFor(model => model.ConfirmPassword, new { placeholder = "Repeat password", required = true })
                </div>
            </div>
            <hr />
            <div class="row justify-content-around">
                <a class="btn col col-md-3 text-decoration-none m-2 bg-danger" href="/User/">
                    Cancel change
                </a>
                <input type="submit" value="Change password" class="btn col col-md-3 m-2 bg-success" />
            </div>
        }
    </div>
</div>